 
body {
	font-family: Cambria;
	color: black;
	font-size: 11pt;
}

h1 {
	color: black;
	background-color: lightgray;
	text-transform: uppercase; text-emphasis: bold;
	font-size: 20pt;
	text-shadow:
    1px 1px 1px white,
    2px 2px 1px white;
  	text-align: Left;
}

h2
{
	color: black;
	text-transform: uppercase; text-emphasis: bold;
	font-size: 16pt;
}

h3 {
	color: black; 
	text-transform: uppercase; text-emphasis: bold;
	font-size: 16pt;
}

img {
	width: 40%;
}

footer {
    margin-top: 25px;
	background-color: lightgray;
    color: black;
	text-transform: uppercase; text-emphasis: bold;
	text-shadow:
    1px 1px 1px white,
    2px 2px 1px white;
}
footer p {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}